body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color: red;
}

header a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

img{
  width: 900px;
}

figcaption{
  font-size: 11pt;
}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#details{
  background: red;
  /*display: block;*/
}

#details div{
  /*float: left;*/
  background: red;
  width: 25%;
  text-align: center;
  float: left;
}
